<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Link Font awesomwe -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Link Vue.Js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Link Javascript -->
    <script defer src="script.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <!-- SIDEBAR -->
            <div class="side-bar">
                <!-- Top Sidebar -->
                <div class="side-bar-top">
                    <div class="my-profile lightgray-color">
                        <figure class="my-picture left-small-pdg">
                            <img :src="`img/avatar${user.avatar}.jpg`" alt="my-picture">
                            <p class="md-size-text left-exsmall-pdg">{{user.name}}</p>
                        </figure>
                        <div class="settings right-md-pdg">
                            <i class="fa-solid fa-circle-notch icon-style"></i>
                            <i class="fa-solid fa-message icon-style"></i>
                            <i class="fa-solid fa-ellipsis-vertical icon-style"></i>
                        </div>
                    </div>
                    <div class="notifications azure-color">
                        <div class="get-notifications left-md-pdg">
                            <div class="icon-notification">
                                <i class="fa-solid fa-bell-slash icon-style"></i>
                            </div>
                            <div class="new-message left-small-pdg">
                                <p class="md-size-text">Ricevi notifiche di nuovi messaggi</p>
                                <a href="#" class="sm-size-text link-notifications-color">Attiva notifiche di testo</a>
                            </div>
                        </div>
                    </div>
                    <div class="search white-color">
                        <input type="text" class="search-box icon-search-box input-style" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>

                <!-- Bottom Sidebar -->
                <div class="side-bar-bottom white-color">
                    <figure v-for="contact in contacts" class="friends-picture left-md-pdg">
                        <img :src="'img/avatar'+contact.avatar+'.jpg'" alt="avatar">
                        <p class="md-size-text left-small-pdg"> {{contact.name}} </p>
                    </figure>
                </div>
            
            </div>
            
            <!-- Right space, CHAT MESSAGE -->
            <div class="content">
                <!-- Header chat message -->
                <header class="header-container lightgray-color">
                    <div class="current-chat">
                        <figure>
                            <img src="img/avatar_1.jpg" alt="avatar 1">
                        </figure>
                        <div class="left-small-pdg">
                            <p class="md-size-text">Michele</p>
                            <p class="md-size-text last-access">Ultimo accesso oggi alle</p>
                        </div>
                    </div>
                    <div class="setting-current-chat right-md-pdg">
                        <i class="fa-solid fa-magnifying-glass icon-style"></i>
                        <i class="fa-solid fa-paperclip icon-style"></i>
                        <i class="fa-solid fa-ellipsis-vertical icon-style"></i>
                    </div>
                </header>
                
                <!-- Main chat message -->
                <main class="main-container">
                    <div class="content-chat">
                        <div v-for="(message, i) in contacts[currentIndex].messages" class="row" :class="message.status">
                            <div  class="box-message" :class="message.status === 'received' ? 'bkg-white' : 'bkg-green' ">
                                <p class="md-size-text">{{contacts[currentIndex].messages[i].text}}</p>
                                <span class="last-message-date">{{contacts[currentIndex].messages[i].date}}</span>
                            </div>
                        </div>
                    </div>
                </main>
                
                <!-- Footer, send new message -->
                <footer class="footer-container smoke-color">
                    <div class="emoticons">
                        <i class="fa-regular fa-face-smile icon-style"></i>
                    </div>
                    <div class="box-container">
                        <input type="text" class="box-new-message input-style" placeholder="Scrivi un messaggio">
                    </div>
                    <div class="vocal-message">
                        <i class="fa-solid fa-microphone icon-style"></i>
                    </div>
                    
                </footer>
            </div>

        </div>
        
    </div>
    
</body>
</html>