*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/** Generics */
#root{
    height: 100vh;
    background-image: linear-gradient(rgb(77, 131, 156) 15%, rgb(197, 203, 206) 15%, lightgray);
    
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container{
    width: 80%;
    height: 95%;
    display: flex;
}

/* Side-bar */
.side-bar{
    width: 35%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
}

.side-bar-top,
.side-bar-bottom{
    position: absolute;
    left: 0;  
    right: 0;
}

.side-bar-top{
    height: 330px;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

/* Content */
.content{
    width: 65%;
    height: 100%;
    position: relative;
    padding-top: 100px;
}

.header-container, 
.footer-container{
    height: 110px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

/* All images */
img{
    max-width: 100%;
    border-radius: 50%;
    height: 80px;
    cursor: pointer;
}


/** Utils */
/* backgroun color */
.lightgray-color{
    background-color:rgb(197, 203, 206);
}

.azure-color{
    background-color:  #00e6e6;
}

.white-color{
    background-color: rgba(255, 255, 255, 0.6);
}

.smoke-color{
    background-color: whitesmoke;
}

/* Space */
.left-exsmall-pdg{
    padding-left: 5px;
}

.left-small-pdg{
   padding-left: 10px;
}

.left-md-pdg{
    padding-left: 20px;
}

.right-md-pdg{
    padding-right: 20px;
}

.icon-style{
    padding: 0 10px;
    font-size: 30px;
    color:rgb(116, 119, 121);
    cursor: pointer;
}

/* Size text */
.md-size-text{
    font-size: 25px;
}

.sm-size-text{
    font-size: 20px;
}

/* Input style */
.input-style{
    background-color: white;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}


/** Side-bar */
/* sections sidebar top */
.my-profile{
    flex-basis: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-picture{
    display: flex;
    align-items: center;
}

.my-picture p{
    cursor: pointer;
}

.settings{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.notifications{
    flex-basis: 130px;
}

.get-notifications{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icon-notification{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-notification i{
    color: #00e6e6;
}

.link-notifications-color{
    color: rgba(0, 0, 0, 0.5);
}

.search{
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    height: 80%;
    width: 95%;
    padding-left: 75px;
    border-radius: 10px;
}

.icon-search-box{
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1069545793/thumb/1.jpg?ip=x480');
    background-size: 70px;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

/* Sections sidebar bottom */
.side-bar-bottom{
    height: calc(100% - 330px);
    bottom: 0;
    overflow-y: auto;
}

.friends-picture{
    display: flex;
    align-items: center;
    height: 120px;
    cursor: pointer;
}

.friends-picture p{
    align-self: flex-start;
    padding-top: 20px;
}

.selected-chat{
    background-color: rgb(210, 210, 210);
}


/** Chat content */
.header-container{
    top: 0;
    display: flex;
    justify-content: space-between;
}

.current-chat{
    flex-basis: 50%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.last-access{
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px lightgrey;
}

.setting-current-chat{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Main, chat container */
.main-container{
    height: calc(100% - 110px);
    overflow-y: auto;
    background-image: url(img/mine.jpg);
}

.content-chat{
    height: 100%;
}

.row{
    height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row.sent{
    justify-content: end;
}

.row.received{
    justify-content: start;
}

.box-message{
    border-radius: 10px;
    margin: 0 8rem;
    padding: 20px 20px 5px;

    display: flex;
    flex-direction: column;
}

.bkg-green{
    background-color: #80ce90;
}

.bkg-white{
    background-color: white;
}


.last-message-date{
    align-self: end;
    margin-top: 3px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

/* Footer */
.footer-container{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoticons,
.vocal-message{
    flex-basis: 10%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    flex-basis: 80%;
    height: 80px;
}

.box-new-message{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 10px;
}
