*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/** Generics */
#root{
    height: 100vh;
    background-image: linear-gradient(rgb(77, 131, 156) 15%, rgb(197, 203, 206) 15%, lightgray);
    
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container{
    width: 80%;
    height: 95%;
    /* border: 1px solid black; */

    display: flex;
}

img{
    max-width: 100%;
    border-radius: 50%;
    height: 80px;
}

/** Utils */
/* backgroun color */
.lightgray-color{
    background-color:rgb(197, 203, 206);
}

.azure-color{
    background-color:  #00e6e6;
}

.white-color{
    background-color: rgba(255, 255, 255, 0.6);
}

.smoke-color{
    background-color: whitesmoke;
}


/* Space */
.left-exsmall-pdg{
    padding-left: 5px;
}

.left-small-pdg{
   padding-left: 10px;
}

.left-md-pdg{
    padding-left: 20px;
}

.right-md-pdg{
    padding-right: 20px;
}

.icon-style{
    padding: 0 10px;
    font-size: 30px;
    color:rgb(116, 119, 121);
}


/* Size text */
.md-size-text{
    font-size: 25px;
}

.sm-size-text{
    font-size: 20px;
}

/** Side-bar */
.side-bar{
    width: 35%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);

    position: relative;
}

.side-bar-top,
.side-bar-bottom{
    /* border: 1px dashed red; */
    position: absolute;
    left: 0;  
    right: 0;
}

.side-bar-top{
    height: 330px;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

/* sections sidebar top */
.my-profile{
    flex-basis: 110px;
    /* border: 1px dashed yellow; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-picture{
    display: flex;
    align-items: center;
}

.settings{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.notifications{
    flex-basis: 130px;
}

.get-notifications{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icon-notification{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-notification i{
    color: #00e6e6;
}

.new-message p:nth-child(2){
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
}

.search{
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    height: 80%;
    width: 95%;
    background-color: white;
    font-size: 18px;
    border: 0;
    padding-left: 75px;
    
}

.icon-search-box{
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1069545793/thumb/1.jpg?ip=x480');
    background-size: 70px;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

.side-bar-bottom{
    height: calc(100% - 330px);
    bottom: 0;
    overflow-y: auto;
}

.friends-picture{
    display: flex;
    align-items: center;
    height: 120px;
    /* border: 1px dashed purple; */
}


/** Chat content */
.content{
    width: 65%;
    height: 100%;
    /* border: 1px dashed black; */

    position: relative;
    padding-top: 100px;
}

.header-container, 
.footer-container{
    height: 110px;
    /* border: 1px dashed red; */
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container{
    top: 0;
    display: flex;
    justify-content: space-between;
}

.current-chat{
    flex-basis: 50%;
    /* border: 1px dashed yellow; */
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.last-access{
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px lightgrey;
}

.setting-current-chat{
    flex-basis: 50%;
    /* border: 1px dashed yellow; */
}

.main-container{
    height: calc(100% - 110px);
    overflow-y: auto;
    background-image: url(img/mine.jpg);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.friend-text,
.my-text{
    flex-basis: 50%;
    /* border: 1px dashed purple; */
    height: 100px;
}

.footer-container{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoticons,
.vocal-message{
    flex-basis: 10%;
    /* border: 1px dashed purple; */
    height: 80px;
}

.box-message{
    flex-basis: 80%;
    /* border: 1px dashed purple; */
    height: 80px;
}

